@media (min-width: 750px) {
  body {
    padding: 30px;
  }

  .info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .info__perfil {
    width: 100%;
  }

  .info__contact {
    width: 48%;
  }

  .info__technology {
    width: 48%;
  }

  .info__experiences {
    width: 48%;
  }

  .info__education {
    width: 48%;
  }

  .my-projects__content .card {
    width: 48%;
  }

  .card + .card {
    margin-top: 0;
  }

  .recents-posts__content .card {
    width: 48%;
  }

  .card + .card {
    margin-top: 0;
  }
}

@media (min-width: 1000px) {
  main {
    margin-top: 0;
    margin-left: 50px;
  }

  .info {
    max-width: 350px;
  }

  .info__contact {
    width: 100%;
  }

  .info__technology {
    width: 100%;
  }

  .info__experiences {
    width: 100%;
  }

  .info__education {
    width: 100%;
  }
}
