@import '/info__perfil.css';
@import '/info__contact.css';
@import '/info__technology.css';
@import '/info__experiences.css';
@import '/info__education.css';

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info ul li i {
  margin-right: 10px;
  font-size: 1.6rem;
}

.info li + li {
  margin-top: 12px;
}

.info__experiences ul,
.info__education ul {
  list-style: disc;
  margin-left: 35px;
}

@media (min-width: 750px) {
  .info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 1000px) {
  .info {
    max-width: 350px;
  }
}
